body {
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(153, 153, 231),
    rgb(175, 235, 205),
    pink
  );
}
h1 {
  font-size: 50px;
}
p {
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
#rock {
  width: 200px;
  height: 200px;
  background: url("./images/rock.png") center/cover no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
#paper {
  width: 200px;
  height: 200px;
  background: url("./images/paper.png") center/cover no-repeat;
  border: none;
  cursor: pointer;
}
#scissors {
  width: 200px;
  height: 200px;
  background: url("./images/scissor.png") center/cover no-repeat;
  border: none;
  cursor: pointer;
}

button {
  font-size: 150px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
